<robot name="cona">
	<link name="map"/>
	<link name="camera_link"/>
	<link name="camera_link_optical"/>
	
	<joint name="robot2camera" type="fixed">
		<parent link="map"/>
		<child link="camera_link"/>
		<origin xyz="0.1 0 0" rpy="0 0 0" />
	</joint>

	<joint name="robot2camera_optical" type="fixed">
		<parent link="camera_link"/>
		<child link="camera_link_optical"/>
		<origin xyz="0.1 0 0" rpy="-1.570796 0 -1.570796" />
	</joint>

</robot>
